.main {
  padding: 1rem 4rem;
  color: #1a1a34;
  font-size: 12px;
}

.header {
  background-color: #1a1a34;
  height: 50px;
  color: white;
  font-size: 18px;
  padding: 10px 70px;
  width: 100%;
  font-family: serif;
  display: flex;
}

.header2 {
  background-color: black;
  height: 50px;
  color: white;
  font-size: 20px;
  padding: 10px 10px;
  width: 300px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  margin-left: 30%;
}

.center {
  margin-left: 160px;
}

.headerText {
  text-align: center;
  width: 100%;
}

.backToHome {
  margin: 3rem 0 0;
}

.container {
  background-color: rgba(0, 0, 0, 0.72);
}

.flexContainer {
  display: flex;
}

.globeIcon {
  margin: 20px 20px;
}