.main {
  padding: 1rem 4rem;
  color: #1a1a34;
  font-size: 12px;
}

.header {
  background-color: #1a1a34;
  height: 50px;
  color: white;
  font-size: 18px;
  padding: 10px 70px;
  width: 100%;
  font-family: serif;
  display: flex;
}

.headerText {
  margin-left: 10px;
}

.backToHome {
  margin: 3rem 0 0;
}