.mapContainer {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  height: 340px;
  width: 600px;
}

.tooltip {
  background-color: antiquewhite;
}

.flexContainer {
  display: flex;
}

.submissionPreview {
  margin-left: 20px;
}

.title {
  color: white;
}