
.formContainer {
  width: 290px;
  height: 600px;

  background: #191932;
  border-radius: 10px;
  color: white;

  padding: 36px;

  right: 50px;
  top: 0px;
  position: absolute;
}

.input {
  background: #5A5A89;
  border-radius: 4px;
}